body {
	color: #969696;
	font-size: 14px;
	background-color: #FFF;
}

h1 {
	color: #303030;
	font-size: 24px;
	font-weight: normal;
	margin-top: 10px;
}

a,
a:hover,
a:active {
	color: #fb00ff
}

.logo {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 30px;
}

.avatar {
	img {
		max-width: 100%;
	}
}

.social {
	margin-top: 20px;
}

.social a,
.social a:hover {
	font-size: 16px;
	color: #c1c7d0;
	text-decoration: none;
}