!!!
%html.no-js
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      Matthias Link
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    / build:css styles/vendor.css
    / bower:css
    %link{href: "bower_components/sass-bootstrap/dist/css/bootstrap.css", rel: "stylesheet"}/
    %link{href: "webfonts/ss-social.css", rel: "stylesheet"}/
    / endbower
    / endbuild
    / build:css({.tmp,app}) styles/main.css
    %link{href: "styles/main.css", rel: "stylesheet"}/
    %link{href: "styles/mlink.css", rel: "stylesheet"}/
    / endbuild
    / build:css({.tmp,app}) webfonts/ss-social.css
    %link{href: "webfonts/ss-social.css", rel: "stylesheet"}/
    / endbuild
  %body{"ng-app" => "portfolioApp"}
    / Add your site or application content here
    .container{"ng-view" => ""}
      .row
        .col-md-12
          .logo
            %img{"src" => "images/logo.svg", "width" => "140px", "height" => "50px"}
      .row
        .col-md-2.col-md-offset-1
          .avatar
            %img{"src" => "images/avatar.png"}
        .col-md-8
          %h1
            Hey! My name is <b>Matthias Link</b>
          %p
            I am a web craftsman, minimalist, runner, music addict. Driven by my passion for technology I have designed and developed web apps for a variety of international companies ranging from YC candidates in Silicon Valley to blue-chip companies in UK and Germany. Currently I work for Dropbox in San Francisco, California.<br /><br /><a href="mailto:info@mlink.co">Hit me up</a> if you want to know what I’m up to.
      .row
        .col-md-4.col-md-offset-4
          %ul.social.list-inline.text-center
            %li
              %a{"href" => "http://twitter.com/link_m"}
                .ss-icon.ss-twitter
            %li
              %a{"href" => "http://facebook.com/matthias.link"}
                .ss-icon.ss-facebook
            %li
              %a{"href" => "http://instagram.com/link_m"}
                .ss-icon.ss-instagram
    / build:js scripts/vendor.js
    / bower:js
    %script{src: "bower_components/jquery/jquery.js"}
    %script{src: "bower_components/angular/angular.js"}
    %script{src: "bower_components/sass-bootstrap/dist/js/bootstrap.js"}
    %script{src: "bower_components/angular-resource/angular-resource.js"}
    %script{src: "bower_components/angular-cookies/angular-cookies.js"}
    %script{src: "bower_components/angular-sanitize/angular-sanitize.js"}
    %script{src: "bower_components/angular-route/angular-route.js"}
    / endbower
    / endbuild
    / build:js({.tmp,app}) scripts/scripts.js
    %script{src: "scripts/app.js"}
    %script{src: "scripts/controllers/main.js"}
    / endbuild
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', UA-3497209-3']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script');
        ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();