!!!
%html.no-js
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %title
      Matthias Link
    %meta{content: "", name: "description"}/
    %meta{content: "width=device-width", name: "viewport"}/
    / Place favicon.ico and apple-touch-icon.png in the root directory
    / build:css styles/vendor.css
    / bower:css
    %link{href: "bower_components/sass-bootstrap/dist/css/bootstrap.css", rel: "stylesheet"}/
    / endbower
    / endbuild
    / build:css({.tmp,app}) styles/main.css
    %link{href: "styles/main.css", rel: "stylesheet"}/
    %link{href: "styles/mlink.css", rel: "stylesheet"}/
    / endbuild
  %body{"ng-app" => "portfolioApp"}
    / Add your site or application content here
    .container{"ng-view" => ""}
      .logo
        %img{"src" => "/images/logo.svg", "width" => "140px", "height" => "50px"}
      .avatar
        %img{"src" => "/images/avatar.png"} 
      .txt
        %h1
          Hey! My name is <b>Matthias Link</b>
        %p
          I am a web craftsman. Driven by my passion for technology I have designed and developed web apps for a variety of international companies ranging from YC candidates to blue-chip companies in UK and Germany. I now work for Dropbox in San Francisco, California.<br /><br /><a href="mailto:info@mlink.co">Say hi</a> if you want to know what I’m up to.
      %ul.social
        %li
          %a{"href" => "http://twitter.com/link_m"}
            Twitter
        %li
          %a{"href" => "http://facebook.com/matthias.link"}
            Facebook
        %li
          %a{"href" => "http://instagram.com/link_m"}
            Instagram
    / build:js scripts/vendor.js
    / bower:js
    %script{src: "bower_components/jquery/jquery.js"}
    %script{src: "bower_components/angular/angular.js"}
    %script{src: "bower_components/sass-bootstrap/dist/js/bootstrap.js"}
    %script{src: "bower_components/angular-resource/angular-resource.js"}
    %script{src: "bower_components/angular-cookies/angular-cookies.js"}
    %script{src: "bower_components/angular-sanitize/angular-sanitize.js"}
    %script{src: "bower_components/angular-route/angular-route.js"}
    / endbower
    / endbuild
    / build:js({.tmp,app}) scripts/scripts.js
    %script{src: "scripts/app.js"}
    %script{src: "scripts/controllers/main.js"}
    / endbuild